# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Database
db.sqlite3-wal
db.sqlite3-shm

# Environment
.env

# Tests
.pytest_cache
.coverage
htmlcov/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
